# Fully qualified domain name of the irods server
IRODS_HOST="localhost"

# Path to the irods server certificate
IRODS_SSL_CA_CERTIFICATE_PATH="/path/to/irods/server.crt"

# Secret key for ManGO
MANGO_SECRET_KEY="HV44H6oH-eKMqJDU0W6Xw6ch_c4wpmDWf5tgD0p-0Gc"
